.channel-body {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.channel-header {
    flex: 0 1 auto;
    border-bottom: 1px solid #ccc;
    padding-top: 0;
}

.message-list {
    flex: 1 1 auto;
    overflow-y: scroll;
}

.message-form {
    flex: 0 1 40px;
}

.message-form .input {
    width: 50%;
}

.msg-name {
    font-weight: bold;
}

.msg-date {
    font-weight: lighter;
    font-size: small;
}

.msg {
    margin-bottom: 10px;
}